/*  General Styling
/*-----------------------------------------------------------------------------------*/

body {
  background: #ffffff;
  color: #898989;
  font-family: 'Poppins', helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #292929;
  font-weight: 600;
}

h4 {
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #292929;
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover, a:focus {
  color: #b8a07e;
  /* color: goldenrod; */
  text-decoration: underline;
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

p {
  margin: 25px 0;
  padding: 0;
  font-size: 15px;
  color: #999999;
  line-height: 28px;
}

::-moz-selection {
  background: #b8a07e;
  color: #fff;
}

::selection {
  background: #b8a07e;
  color: #fff;
}

.btn {
  background: #333;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.padDiv {
  padding: 30px 20px;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
}



.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}

.paddsections {
  padding-top: 90px;
  padding-bottom: 90px !important;
}

.hvr-shutter-in-horizontal::before {
  background: #333;
}

.hvr-shutter-in-horizontal:hover {
  background: #b8a07e;
}

.mb-30 {
  margin-bottom: 30px;
}

/*-----------------------------------------------------------------------------------*/
/*  Navbar Top
/*-----------------------------------------------------------------------------------*/

nav {
  position: fixed;
  /* background: rgba(255,255,255,0.2); */
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  width: 100%;
  padding: 20px;
  padding-bottom: 28px;
  display: none;
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

.nav-menu {
  float: right;
  line-height: 32px;
  margin-bottom: 0;
  padding-top: 16px;
}

nav ul li {
  float: left;
  margin-right: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-left: 40px;
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 14px;
  color: #999999;
  font-family: 'Poppins', helvetica;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

@media (max-width:480px) {
  nav ul li a {
    font-size: 12px;
  }
}

.logo {
  float: left;
}

.logo img {
  width: 140px;
  height: 40px;
}

.responsive {
  display: none;
  font-size: 23px;
}

.active {
  color: #afafaf;
}

/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

#header {
  background: url("../images/Asia-City-Hong-Kong.jpg");
  height: 100vh;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#header .header-content {
  height: 100vh;
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width:480px) {
  #header {
    height: 60vh;
  }
}

/* .header-content h1:hover {
  animation: shake 4s;
  animation-iteration-count: infinite;
} */

#codebutton {
    animation: shake 4s;
    animation-iteration-count: infinite;
    color: #C586C0;
    cursor: pointer;
    text-transform: none;
    font-family: 'Monaco', 'Courier New';
    letter-spacing: 2px;
}

@media (max-width:480px) {
  #codebutton {
    margin: 0;
  }
}

#arrow {
  font-size: 35px !important;
}

#fullstack {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 12px gold, 0 0 5px;
}

.header-content p:hover, #codebutton {
    animation: shake 4s;
    animation-iteration-count: infinite;
    /* color: #18d26e; */
}
/* https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.header-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 260px;
  text-shadow: 1px 1px 2px black, 0 0 12px gold, 0 0 5px;
}

.header-content p {
  font-size: 22px;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}

@media (max-width:480px) {
  .header-content h1 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .header-content p {
    font-size: 10px;
  }
}


#line2 {
  font-size: 13px;
  font-family: 'Monaco', 'Courier New';
  letter-spacing: 2px;
  text-transform: none;
}

@media (max-width:480px) {
  #line2 {
    font-size: 6px;
    letter-spacing: 0.6px;
  }
}

/* typing effect */
/* credit to: https://codepen.io/JohnnyBizzel/pen/pMbyXN */
#line2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .2em; /* Adjust as needed */
  animation: 
    typing 3s steps(20, end),
    blink-caret .75s step-end infinite,
    reveal .1s step-end, blink-caret 0.5s step-end  infinite;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes reveal {
  from { opacity: 0 }
  to { opacity: 1 }
}


/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}
@keyframes hide-caret {
  from, to { border-color: white }  
}




.header-content .list-social li {
  float: left;
  margin-right: 20px;
}

.header-content .list-social li i {
  color: #fff;
  font-size: 15px;
}

#windowbar {
  height: 25px;
  /* width: 800px; */
  background: #DEE1E6;
  border-radius: 5px 5px 0 0;
  transform: translate(0px,70px);
  display: none;
  transition: .6s ease opacity,.6s ease transform;
  
}

#buttonclose {
  display:block;
  box-sizing:border-box;
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color: rgba(255,95,88,1);
  border-radius:100%;
  /* background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, black 46%,  black 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, black 46%,  black 56%,transparent 56%, transparent 100%); */
  background-color: rgba(255,95,88,1);
  /* box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5); */
  transition: all 0.3s ease;
  margin-left: 6px;
  transform: translate(0,3px);
}

#buttonclose:hover {
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, black 46%,  black 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, black 46%,  black 56%,transparent 56%, transparent 100%);
  background-color: rgba(255,95,88,1);
}


#code {
  /* border-radius: 5px; */
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 30px;
  background: #1E1E1E;
  height: 700px;
  font-family: 'Monaco', 'Courier New';
  text-align: left;
  font-size: 13px;
  color: #fafafa;
  border-radius: 0 0 5px 5px;
  display: none;
  /* display: block; */
  overflow: auto;
  transform: translate(0px, 30px);
  /* transform: scale(0); */
  transition: .6s ease opacity,.6s ease transform;

}

@media (max-width:480px) {
#code {
  font-size: 8px;
  padding-left: 7px;
  height: 300px;
}
#windowbar {
  height: 25px;

}
}

#code a {
color:#DCDCAA;
}

.codekey {
color:#569CD6;
}



  

/*-----------------------------------------------------------------------------------*/
/*  About
/*-----------------------------------------------------------------------------------*/

#about {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  padding-top: 190px;
}

#about .div-img-bg {
  padding-bottom: 0px;
  border: 20px solid #b8a07e;
  border-radius: 10px;
}

/* #about .div-img-bg .about-img {
  background: white;
  color: white;
  border-style: none;

} */

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
  border-radius: 3%;
}

@media (max-width:480px) {
  #about .div-img-bg .about-img img {
    margin-left: 0px;
    margin-top: 20px;
  }

}



#about .about-descr .p-heading {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  text-align: left;
}

.p-details {
  margin-bottom: 20px;
}
.p-details2 {
  font-size: 15px;
  line-height: 28px;
  display: none;
}

#more {
  margin-top: 20px;
  /* border-style: ridge; */
  border-radius: 5px;
}

#more:focus {outline:0;}

#about .about-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}

/* flip img */
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 600ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}
  
.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

/*-----------------------------------------------------------------------------------*/
/*  Specialities
/*-----------------------------------------------------------------------------------*/
#specialities {
  background-image: url("../images/kingsman.png");
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);

  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#specialities h2 {
  color: ghostwhite;
  text-shadow: 1px 1px 2px black, 0 0 12px gold, 0 0 5px;
}

#bond {
  width: 58px;
  height: 50px;
}


#aboutme-header {
  transform: translate(0, -90px);
  text-align: center;
  font-size: 25px;
}

/* Carousel */

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; outline:0 !important;}
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; outline:0 !important;}
.MultiCarousel .MultiCarousel-inner .item { float: left; outline:0 !important;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:rgba(181,157,123, 0.4); color:#666; border-radius: 5%;border: 3px solid #B59D7B; outline:0 !important;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); border-style: none; outline:0 !important;}
.MultiCarousel .leftLst { left:0; background: #B59D7B; outline:0 !important; }
.MultiCarousel .rightLst { right:0; background: #B59D7B; outline:0 !important;}   
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#B59D7B; border-color: #B59D7B; outline:0 !important;}
.MultiCarousel img {
  /* width: 100px; */
  width:auto;
  height: 100px;                    
}
.MultiCarouselbtn {
  width: 50px !important;
  height: 50px !important;
  outline:0 !important;
  border: 3px solid #B59D7B;
}

.lead {
  color: white;
  font-size: 15px;
}

/* .MultiCarouselbtn:focus {outline:0;} */


.MultiCarouselbtn:hover {
  background: #927752 !important;
  /* border: 3px solid red; */
  outline:0 !important;
}
.MultiCarouselbtn:focus {
  background: #927752 !important;
  /* border: 3px solid red; */
  outline:0 !important;
}

/*-----------------------------------------------------------------------------------*/
/*  portfolio-header
/*-----------------------------------------------------------------------------------*/
#portfolio-header {
  /* transform: translate(0, -90px); */
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}

.portfolio-item img {
  height: 200px;
  width: 100%;
  border:1px solid #B59D7B;
}


#portfolio .portfolio-item {
  /* margin: 0 0 15px; */
  /* right: 0;
  border: 1px outset rgba(255, 255, 255, 0.6);
  background: #B59D7B;
  height: 400px; */
  padding-top: 15px;
  border-radius: 10px;
}


@media (max-width:480px) {
  #portfolio .portfolio-item {
    margin-top: 20px;
  }

}

#portfolio .portfolio-item:hover {
  transition: 0.5s;
  box-shadow: 5px 10px 5px rgba(0,0,0,0.9);
  background: #B59D7B;
  height: 335px;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(0, 0, 0, .7);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s,
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(0,0,0, 0.8);
  text-align: center;
  padding: 25px;
  padding-bottom: 9px;
  border:1px solid #B59D7B;
  border-top-style: none;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  color: #fff;
  text-transform: none;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 13px;
  margin: 0;
}


/* @media (min-width:600px) {
  #portfolio .portfolio-item .portfolio-caption p {
    font-size: 10px;
  }
} */

#portfolio * {
  z-index: 2;
}

@media (min-width:767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.linklogo {
font-size: 30px;
color: grey;
margin-right: 10px;
}
.linklogo2 {
font-size: 25px;
color: grey;
}

/* modal */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.modal {
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: flex-start; /* or center */
  z-index: 1000; /* depending on what z-index values exist in your page, in order for the modal layer to sit on top of other content */
  overflow: auto; /* enable scrolling if needed - although this is not really necessary since we are going take care of overflow in modal-content */
  background-color: rgba(0,0,0,0.8);
}
.modal.modal-show {
  animation: fadeIn 0.1s ease-in-out forwards;
}
.modal.modal-hide {
  animation: fadeOut 0.1s ease-in-out 0.1s forwards;
}
.modal-content {
  position: relative;
  background-color: #fff;
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.25rem;
  width: 80%;
  /* max-height: 75%; */
  overflow: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  height: 650px;
}

@media(max-width:767px) {
  .modal-content { height: 500px;}
}


.modal.modal-show .modal-content {
  animation: fadeInDown 0.7s ease-in-out forwards;
}
.modal.modal-hide .modal-content {
  animation: fadeOutUp 0.2s ease-in-out forwards;
}
.modal-content h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.modal-content p {
  margin: 1rem 0;
  line-height: 1.5rem;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 0 0.75rem;
  /* width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; */
  color: rgba(0,0,0,0.2);
  cursor: pointer;
  user-select: none;
}
.modal-close:hover, .modal-close:focus {
  color: rgba(0,0,0,0.5);
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}
@keyframes fadeOutUp {
  0% { 
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-3rem);
  }
}

@media(max-width: 992px) {
  html { font-size: 14px; }
  .modal-content { width: 80%; }
}
@media(max-width:767px) {
  html { font-size: 12px; }
  .modal-content { padding: 2rem 1rem 1rem 1rem; width: 90%; }
  .modal-content h1 { margin-bottom: 1.5rem; }
}

.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
 }
/* .carousel .carousel-control {
  visibility: hidden;
} */
.carousel:hover .carousel-control {
  visibility: visible;
}
.carousel-inner img {
  height: 400px !important;
  width: auto !important;
  margin: 0 auto;
}

@media(max-width:767px) {
  .carousel-inner img {
    height: 100px !important;
    width: auto !important;
    margin: 0 auto;
  }
}

.glyphicon-chevron-left, .glyphicon-chevron-right{
  color: #b8a07e;
}

.modalvideo {
  height: 400px;
  width: auto;
}

.modalvideo:focus {outline:0;}

@media(max-width:767px) {
  .modalvideo {
    height: 200px;
    width: auto;
  }
}

.desc {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.desc .projectype {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  /* font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;; */
  color: #999999;
}
.desc .techtype {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  /* font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;; */
  color: #999999;
}
.desc p {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  /* padding-left: 30px; */
  line-height: 2rem;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}




/*-----------------------------------------------------------------------------------*/
/*  Contact
/*-----------------------------------------------------------------------------------*/

#contact {
  /* height: auto;
  width: 100%; */
  background: url("../images/sf-fog.gif");
  /* height: 80vh;
  width: 100%; */
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact h2 {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 90px;
  font-size: 25px;
  text-shadow: 1px 1px 2px black, 0 0 12px gold, 0 0 5px;
}

@media(max-width:767px) {
  #contact h2 {
    margin-bottom: 20px;
  }
}

.contact-details {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 50px;
}


.contact-details li {
  padding-bottom: 10px;
}

@media(max-width:767px) {
  .contact-details {
    margin-bottom: 30px;
  }
  .contact-details li {
    display: inline;
    font-size: 40px;
  }
}

.contact-details a {
  color: rgba(137,137,137);
}


.form-control {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 14px;
  /* text-transform: uppercase; */
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

#linkedin {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
#linkedin:hover {
  color: rgba(40,103,178);
  cursor: pointer;
}
#github {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
#github:hover {
  color: rgba(110,84,148);
  cursor: pointer;
}
#file {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  font-size: 45px;
}
#file:hover {
  color: rgba(254,186,2);
  cursor: pointer;
}
#envelope {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  font-size: 45px;
}
#envelope:hover {
  color: rgba(0,125,195);
  cursor: pointer;
}

@media(max-width:767px) {
  #file, #envelope  {
    font-size: 38px;
  }
}




#contact input, #contact textarea {
  width: 100%;
}


#contact  #sendmessage {
  color: #18d26e;
  border: 1px solid #18d26e;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px;
}

#contact  #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px;
}

#contact #sendmessage.show, #contact #errormessage.show, #contact .show {
  display: block;
}

#contact .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

#footer {
  background: #f7f7f7;
  /* padding-top: 50px;
  padding-bottom: 50px; */
}

#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 24px;
  color: #999;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
  color: #b8a07e;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
}

.accountslink {
  font-size: 13px;
}








